* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

main {
   width: 80vw;
   height: 100vh;
   margin: 0 auto;
   position: relative;
}

.years-and-months {
   justify-content: space-between;
   display: flex;
   align-items: center;
   width: 100%;
   height: 120px;
   text-align: center;
   line-height: 120px;
}

.days {
   width: 100%;
   background-color: rgb(184, 145, 63);
}

.day {
   width: 100%;
   height: 60px;
   line-height: 60px;
   padding-left: 30px;
   background-color: rgb(62, 193, 136);
}

.red {
   color: red;
}

.btn {
   width: 60px;
   height: 60px;
   line-height: 60px;
   border-radius: 50%;
   background-color: rgb(126, 103, 115);
   cursor: pointer;
}
